doctype html
head
  meta(charset="utf-8")
  title |Diseño web
  script(src="bower_components/jquery/dist/jquery.min.js")
  script(src="functions/function.js")
  link(rel="stylesheet", href="style.css", media="screen", title="no title", charset="utf-8")  
body
  header    
   table
    tr
     td 
      img(src="/Logos_Ymotion/logo.png", alt="Logos_Ymotion" width="50px" height="50px")
     td 
      span(class="header-text", href="/index.html") 
       b Grupo Ymotion 
        b(class="small-text") ®
    
    
  
